<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Location - Laboratory Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>
		<ul>
			<li class="selected">
				<a href="index.html">home</a>
			</li>
			<li>
				<a href="services.html">services</a>
			</li>
			<li>
				<a href="testentry.html">tests</a>
			</li>
			<li>
				<a href="checktest.html">check test report</a>
			</li>
			<li>
				<a href="location.html">location</a>
			</li>
			<li>
				<a href="signup.html">Sign up</a>
			</li>
		</ul>
	</div>
	<div id="body">
		<div class="content">
			<img src="images/lobby.jpg" alt="">
			<h2>our locations</h2>
			<div class="section">
				<div>
					<span>main branch</span>
					<ul>
						<li>
							<ul>
								<li>
									S V Road
								</li>
								<li>
									Andheri(E), Mumbai 490002
								</li>
							</ul>
						</li>
						<li>
							telephone
							<ul>
								<li>
									022 28913654
								</li>
							</ul>
						</li>
						<li>
							fax
							<ul>
								<li>
									215-859-9425
								</li>
							</ul>
						</li>
						<li>
							hours
							<ul>
								<li>
									Mondays to Saturdays
								</li>
								<li>
									7:00am - 6:00pm
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div>
					<span>Mumbai</span>
					<ul>
						<li>
							<ul>
								<li>
									8th Carter Road
								</li>
								<li>
									Bandra(W), Mumbai 480321
								</li>
							</ul>
						</li>
						<li>
							telephone
							<ul>
								<li>
									022 28654781
								</li>
							</ul>
						</li>
						<li>
							fax
							<ul>
								<li>
									936-365-7129
								</li>
							</ul>
						</li>
						<li>
							hours
							<ul>
								<li>
									Mondays to Saturdays
								</li>
								<li>
									7:00am - 6:00pm
								</li>
							</ul>
						</li>
					</ul>
					<ul class="last">
						<li>
							<ul>
								<li>
									Lamington Road
								</li>
								<li>
									Wadala(E), Mumbai 466251
								</li>
							</ul>
						</li>
						<li>
							telephone
							<ul>
								<li>
									022 28995471
								</li>
							</ul>
						</li>
						<li>
							fax
							<ul>
								<li>
									614-729-4963
								</li>
							</ul>
						</li>
						<li>
							hours
							<ul>
								<li>
									Mondays to Saturdays
								</li>
								<li>
									7:00am - 6:00pm
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div>
					<span>Pune</span>
					<ul>
						<li>
							<ul>
								<li>
									3267 C S Road
								</li>
								<li>
									Pune, Maharashtra 480362
								</li>
							</ul>
						</li>
						<li>
							telephone
							<ul>
								<li>
									022 25847651
								</li>
							</ul>
						</li>
						<li>
							fax
							<ul>
								<li>
									337-538-5406
								</li>
							</ul>
						</li>
						<li>
							hours
							<ul>
								<li>
									Mondays to Saturdays
								</li>
								<li>
									7:00am - 6:00pm
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="sidebar">
			<h3>contact</h3>
			<ul>
				<li>
					<span class="address">address</span>
					<ul>
						<li>
							Illumelabs
						</li>
						<li>
							Diagnostic Center
						</li>
						<li>
							S V Road
						</li>
						<li>
							Andheri(E), Mumbai 490002
						</li>
					</ul>
				</li>
				<li>
					<span class="phone">telephone</span>
					<ul>
						<li>
							215.859.9423
						</li>
					</ul>
				</li>
				<li>
					<span class="email">email</span>
					<ul>
						<li>
							<a href="mailto:Illumelabslabs@gmail.com">IllumelabsLabs@gmail.com</a>
						</li>
					</ul>
				</li>
<!-- 				<li>
					<span class="twitter">twitter</span>
					<ul>
						<li>
							<a href="http://freewebsitetemplates.com/go/twitter/">@mattovolumeone</a>
						</li>
					</ul>
				</li>
 -->			<li>
					<span class="facebook">facebook</span>
					<ul>
						<li>
							<a href="www.facebook.com/Illumelabslabs">www.facebook/IllumelabsLabs</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<div>
			<p>
				<span>2015 &copy; Illumelabs Diagnostic Center.</span><a href="#" >Terms of Service</a> | <a href="#" >Privacy Policy</a>
			</p>
<!-- 			<ul>
				<li id="facebook">
					<a href="http://freewebsitetemplates.com/go/facebook/">facebook</a>
				</li>
				<li id="twitter">
					<a href="http://freewebsitetemplates.com/go/twitter/">twitter</a>
				</li>
				<li id="googleplus">
					<a href="http://freewebsitetemplates.com/go/googleplus/">googleplus</a>
				</li>
				<li id="rss">
					<a href="#" >rss</a>
				</li>
			</ul>
 -->		</div>
	</div>
</body>
</html>