<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Contact - Laboratory Website Template</title>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>
		<ul>
			<li class="selected">
				<a href="index.html">home</a>
			</li>
			<li>
				<a href="services.html">services</a>
			</li>
			<li>
				<a href="tests.html">tests</a>
			</li>
			<li>
				<a href="check_report.html">check test report</a>
			</li>
			<li>
				<a href="location.html">location</a>
			</li>
			<li>
				<a href="signup.html">Sign up</a>
			</li>
		</ul>
	</div>
	<div id="body">
		<div class="content">
			<img src="images/sign-up.jpg" alt="" style="width: 918px; height: 218px">
			<h2>create an account</h2>
			<form action="index.html">
				<label for="username"> <span>User Name*</span>
					<input type="text" name="email" id="email">
				</label>
				<label for="password"> <span>Password</span>
					<input type="password" name="password" id="password">
				</label>
				<label for="firstName"> <span>first name*</span>
					<input type="text" name="first" id="firstName">
				</label>
				<label for="lastName"> <span>last name*</span>
					<input type="text" name="last" id="lastName">
				</label>
				<label for="contactno"> <span>contact no*</span>
					<input type="text" name="contact" id="contactno">
				</label>
				<label for="email address"> <span>email address</span>
					<input type="text" name="email" id="email">
				</label>
				<input type="submit" value="" id="submit">
			</form>
			
			<form action="/labmanagement/create_user/" method="POST" target="_blank">
				{% csrf_token %}
    			{% for field in userform %}
	    			<div class="fieldWrapper">
	        			{{ field.label_tag}} {{ field }}
	        			{{ field.errors }}
	    			</div>
				{% endfor %}
				<input type="submit" value="Submit" />
			</form>
			
		</div>
<!-- 		<div class="sidebar">
			<h3>contact</h3>
			<ul>
				<li>
					<span class="address">address</span>
					<ul>
						<li>
							Sanjivani
						</li>
						<li>
							Diagnostic Center
						</li>
						<li>
							S V Road
						</li>
						<li>
							Andheri(E), Mumbai 460018
						</li>
					</ul>
				</li>
				<li>
					<span class="phone">telephone</span>
					<ul>
						<li>
							022 26459871
						</li>
					</ul>
				</li>
				<li>
					<span class="email">email</span>
					<ul>
						<li>
							<a href="http://www.freewebsitetemplates.com/misc/contact">nyc@volumeone.com</a>
						</li>
					</ul>
				</li>
				<li>
					<span class="twitter">twitter</span>
					<ul>
						<li>
							<a href="http://freewebsitetemplates.com/go/twitter/">@mattovolumeone</a>
						</li>
					</ul>
				</li>
				<li>
					<span class="facebook">facebook</span>
					<ul>
						<li>
							<a href="http://freewebsitetemplates.com/go/facebook/">www.facebook/illumelabs</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
 -->	</div>
	<div id="footer">
		<div>
			<p>
				<span>2015 &copy; Sanjivani Diagnostic Center.</span><a href="#" >Terms of Service</a> | <a href="#" >Privacy Policy</a>
			</p>
<!-- 			<ul>
				<li id="facebook">
					<a href="http://freewebsitetemplates.com/go/facebook/">facebook</a>
				</li>
				<li id="twitter">
					<a href="http://freewebsitetemplates.com/go/twitter/">twitter</a>
				</li>
				<li id="googleplus">
					<a href="http://freewebsitetemplates.com/go/googleplus/">googleplus</a>
				</li>
				<li id="rss">
					<a href="#" >rss</a>
				</li>
			</ul>
 -->		</div>
	</div>
</body>
</html>